/node_modules
/public/hot
/storage/*.key
/vendor
/public/assets/images/categories/*
/public/assets/images/products/*
/public/assets/images/users/*
!/public/assets/images/users/default1.png
!/public/assets/images/users/default.jpg
!/public/storage/assets
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

